

html {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
}

body {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
}


:root {
    --primary-color: #fff;
    --secondary-color: #363535;
    --snsbgprimary-color: #ebe7e7;
    --snsbgsecondary-color: #494848;
}


/*--- グローバルメニュー  start ---*/

.background {
    padding: 30px 50px;
}

header {
    display: flex;
    height: 80px;
    align-items:  center;
    padding-right: 40px;
    padding-left: 40px;
    justify-content: space-between;
}

header h1 {
    color: var(--secondary-color);
}

nav {
    flex-wrap: wrap;
}

.nav-ul {
    display: flex;
    list-style: none;
    text-align: center;
    margin-left: auto;
}

.nav-ul li {
    margin-left: 50px;
}

.nav-ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.4rem;
}

#icon {
    width: 17px;
    cursor: pointer;
    margin-left: 15px;
    color: var(--secondary-color);
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 20px;
    display: none;
}

.hamburger:focus {
    outline: none;
}

/*---  グローバルメニュー  end   ---*/


/*--- トップ　タイトルと名前 start   ---*/


.main_contents {
    align-items: center;
    margin-top: 3rem;
    margin: 0 auto;
}

.top_main {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    height: 35em;
    align-items: center;
}

.top_title {
    max-width: 500px;
    margin:0 auto;
    align-items: center;
}

.top_img img {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border: solid 25px #7946e0;
}

.top_title h2 {
    color: var(--secondary-color);
}

.top_title p {
    color: var(--secondary-color);
}

.demo_btn {
    margin-top: 40px;
    margin-bottom: 40px;
}

.demo_btn a {
    color: #fff;
    background: #7946e0;
    padding: 15px 30px;
    border-radius: 45px;
}

/*--- トップ　タイトルと名前 end   ---*/






/*--- footer sns start  ---*/

.footer_sns {
    padding-left: 40px;
    padding-right: 40px;
}

.footer_sns i {
    font-size: 1.5em;
    color: var(--secondary-color);
    margin: 10px;
    /* background-color: var(--snsbgprimary-color);
    padding: 10px;
    border-radius: 50%; */
}


/*--- footer sns end  ---*/





/*   ダークモード時　start   */

.dark-theme {
    --primary-color: #272727;
    --secondary-color: #fff;
    --snsbgprimary-color: #494848;
    --snsbgsecondary-color: #d6d2d2;
}


/*   ダークモード時  end  */


/*   レスポンシブ start  */

@media screen and (max-width:767px) {

    .nav-ul {
        display: none;
    }

    .nav-ul.show {
        display: block;
        flex-wrap: wrap;
    }

    .nav-ul.show li a {
        font-size: 15px;
    }

    .hamburger {
        display: block;
    }

    #icon {
        align-items: center;
        position: absolute;
        right: 30px;
        bottom: 30px;
        background-color: var(--snsbgprimary-color);
        padding: 15px;
        border-radius: 50%;
        color: var(--snsbgsecondary-color);
    }
    
    .background {
        padding: 30px;
    }

    header {
        position: relative;
        height: 30px;
        padding-right: 0px;
        padding-left: 0px;
        display: flex;
        justify-content: space-between;
    }


    header h1 {
        font-size: 1.4rem;
    }
    
    .main_top_content {
        flex-direction: column-reverse;
        gap: 5px;
        align-items: center;
        text-align: center;
    }


    .top_main {
        margin-bottom: 40px;
        flex-direction: column-reverse;
    }
   
    .top_img {
        max-width: 60%;
    }

    .top_title_main {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .footer_sns {
        padding: 0px;
        text-align: center;
    }

}

/*   レスポンシブ end  */